@import "../../styles/settings/settings";

.eyes {
  z-index: 3;
  width: 7%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.eye {
  width: 22.5%;
  fill: $color-white;

  svg {
    animation: blink 5s infinite linear;
  }
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(1);
  }

  51% {
    transform: scaleY(0);
  }

  52% {
    transform: scaleY(1);
  }
}
