@import "../../styles/settings/settings";

.results__content {
  min-height: 100vh;
  background: $color-background;
  overflow-x: hidden;
  overflow-y: hidden;
}

.results__mensaggecontent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.results__mensaggecontainer {
  max-width: 700px;
  text-align: center;
}

.results__contentbutton {
  display: block;

  button {
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.results__sidebar {
  height: 100vh;
  background: $color-background-transparent;
  box-shadow: 20px 0 20px $color-transparent;
  padding: 5px;
  overflow-x: auto;
}

.results__sidebarbox {
  background: $card-select-container;
  border: 1px solid $color-third;
  box-shadow: 0 4px 30px $color-transparent;
  border-radius: 16px;
  margin: 20px;
  margin-bottom: 30px;
  padding: 12px;
}

.results__sidebarimagetextbox {
  margin-bottom: 15px;
}

.results__sidebarimage {
  padding: 14px;

  img {
    border-radius: 16px;
    width: 100%;
    height: auto;
  }
}

.results__sidebartitle {
  color: $color-white;
  font-weight: 500;
}

.results__sidebarprice {
  color: $color-fifth;
  font-weight: 400;
  font-size: 24px;
}

.results__sidebarmarca {
  float: right;
  margin-right: 20px;
}

.results__sidebacontentbutton {
  padding: 0 20px 10px;
  display: flex;
  gap: 20px;
}

.results__sidebabuttonok {
  width: 100%;
  background: $card-select-container;
  border: 1px solid $color-secondary;
  color: $color-white;
  height: 43px;
  padding: 10px;
}

.results__sidebabutton {
  width: 100%;
  border: 1px solid $color-curate;
  color: $color-white;
  background: $card-select-container;
  height: 43px;
}

.results__buttonback {
  background-color: transparent !important;
  border: none;
  color: $color-input-placeholder;
  padding: 12px;
  width: 150px;
  height: 55px;
  border-radius: 16px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  transition: 0.5s ease;
  position: absolute;
  bottom: 0;
  z-index: 9999;
}

.results__iconbutton {
  margin-right: 7px;
}
