@import "../../../../styles/settings/settings";

.message__content {
  text-align: left;
  background: $color-mensagge;
  border: 1px solid $color-mensagge-border;
  border-radius: 16px;
  padding: 16px;
  width: fit-content;
  position: relative;
}

.message__content::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 26px solid $color-mensagge;
  border-left: 26px solid transparent;
  position: absolute;
  top: 93px;
  left: 28px;
}

.message__title {
  color: $color-white;
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  font-style: normal;
}
