@import "../../styles/settings/settings";

.home__content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-background;
}

.home__container {
  text-align: center;
  display: grid;
}

.home__button {
  background: $color-mensagge;
  border: 1px solid $color-secondary;
  box-shadow: 0 0 50px $box-shadow-main;
  color: $color-white;
  padding: 16px;
  width: 190px;
  height: 59px;
  border-radius: 16px;
  font-size: 18px;
  font-family: $font-family;

  &:hover {
    background: radial-gradient(
      50% 50% at 50% 50%,
      $colro-blue-light 0%,
      $color-mensagge 100%
    );
    border: 1px solid $colro-grey-light !important;
    box-shadow: 0 0 50px $box-shadow-main;
    color: $color-white !important;
  }
}
